@inherits LayoutComponentBase

<div class="mv-header" style="border-bottom:none;">
    <p class="mv-header__brand">Monivise</p>
</div>
<div class="mv-body" style="display:flex; flex-direction:column; justify-content:center; padding-bottom: var(--mv-space-4);">
    @Body
</div>